<div class="jumbotron center">

	<h1>Welcome to my App</h1>

<% if user_signed_in? %>
	# do something
	<% else %>
	 	<p>
			 <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
			 <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %> 
		</p>
	<% end %>

</div>


<p>
<div class="container buttons center">
      <div class="row ">
        <div class="btn-group">
          <button class="prev btn btn-warning"> PREV </button>
          <button class="reset btn btn-info"> RESET </button>
          <button class="next btn btn-success"> NEXT </button>
        </div>
      </div>
    </div>
</p>



<div class="container center">
  <div class="row">
    <div class="col-sm-12 image1">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ11UJRXRyF4PDkZtFBkPoqRcmKl3B90f3a8Ky_dK4dmM0zCluz" alt="">
    </div>
    <div class="col-sm-12 image2">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSVgsAdUpk7P_KwUivYRL-c_xIl72EtHpx6HuIDn0UKn0TVab0-" alt="">
    </div>
    <div class="col-sm-12 image3">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRTRoeWByiXlSLmPjxvc-DykE_AM5eDiGuGkExEIwwcTCNTTTF1-w" alt="">
    </div>
    <div class="col-sm-12 image4">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQln_K2_6gakljs9oA55-ZysuNwdjSV44SPUA6B01s0jgu9_7T83A" alt="">
    </div>
  </div>
</div>

<div id="response"></div>
<button id="call" class-"btn btn-lg btn-info" onclick="ajax()">CALL</button>
